In [118]:
from zipfile import ZipFile
from urllib.request import urlopen   
import pandas as pd
import numpy as np
import requests
import os
import glob
from os import walk
from bs4 import BeautifulSoup
import datetime as dt

## City Bike Rides History Data

In [97]:
links = []
path = 'https://s3.amazonaws.com/tripdata/'
year_start = 2017 #2013
year_end = 2019 #2015
# loop at year
for y in range(year_start, year_end, 1):
    i = 1
    j = 13
    
    if y == 2013:
        i = 6
        
    if y == 2019:
        j = 10
      
    csv_name = ''
    if y > 2016:
        csv_name = '.csv'
    
# loop at month    
    for m in range(i, j, 1):
        s = '0'
        if m > 9:
          s = ''

        links.append(f'{path}{y}{s}{m}-citibike-tripdata{csv_name}.zip')  
        
        if (y == 2015 and m >= 9) or y > 2015:
            links.append(f'{path}JC-{y}{s}{m}-citibike-tripdata{csv_name}.zip')

    if y == 2013:
        links.append(path + '201307-201402-citibike-tripdata.zip')  
    
    if y == 2016:
        links.append(path + '201611-citibike-tripdata 23-17-16-417.zip')
        
    if y == 2017:    
        links.append(path + '201702-citibike-tripdata.csv 23-17-18-428.zip')
        links.append(path + '201704-citibike-tripdata.csv 23-17-24-762.zip')  
        
    if y == 2018:
        links.append(path + '201810-citibike-tripdata.csv 23-18-13-331.zip')

In [98]:
# links.append(path + '201307-201402-citibike-tripdata.zip')
# links.append(path + '201611-citibike-tripdata 23-17-16-417.zip')
# links.append(path + '201702-citibike-tripdata.csv 23-17-18-428.zip')
# links.append(path + '201704-citibike-tripdata.csv 23-17-24-762.zip')
# links.append(path + '201810-citibike-tripdata.csv 23-18-13-331.zip')

In [99]:
print(links)

['https://s3.amazonaws.com/tripdata/201701-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201701-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201702-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201702-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201703-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201703-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201704-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201704-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201705-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201705-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201706-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201706-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201707-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201707-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201708-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201708-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201709-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201709-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201710-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201710-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201711-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201711-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201712-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201712-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201702-citibike-tripdata.csv 23-17-18-428.zip', 'https://s3.amazonaws.com/tripdata/201704-citibike-tripdata.csv 23-17-24-762.zip', 'https://s3.amazonaws.com/tripdata/201801-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201801-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201802-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201802-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201803-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201803-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201804-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201804-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201805-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201805-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201806-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201806-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201807-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201807-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201808-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201808-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201809-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201809-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201810-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201810-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201811-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201811-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201812-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/JC-201812-citibike-tripdata.csv.zip', 'https://s3.amazonaws.com/tripdata/201810-citibike-tripdata.csv 23-18-13-331.zip']

In [100]:
rides = []
for link in links:
    try:
        df = pd.read_csv(link, low_memory=False)
        rides.append(df)            
    except: continue

In [101]:
print(len(rides))

47

In [102]:
rides[0].head(5)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [104]:
rides[46].tail(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [103]:
# for i in range(0,23,1):
#     print(rides[i].columns)

In [105]:
for i,r in enumerate(rides):
    print(f'df{i}:')
    print(rides[i].columns)

df0:
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
df1:
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
df2:
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
df3:
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
df4:
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
df5:
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
df6:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df7:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df8:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df9:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df10:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df11:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df12:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df13:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df14:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df15:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df16:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df17:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df18:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df19:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df20:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df21:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df22:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df23:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df24:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df25:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df26:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df27:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df28:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df29:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df30:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df31:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df32:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df33:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df34:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df35:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df36:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df37:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df38:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df39:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df40:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df41:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df42:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df43:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df44:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df45:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df46:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [108]:
for i in range(0,6,1):
    rides[i].columns = ['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender']
    print(f'df{i}:')
    print(rides[i].columns)

df0:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df1:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df2:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df3:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df4:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
df5:
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [109]:
rides_df = pd.concat(rides)

In [112]:
rides_df.count()

tripduration               34526344
starttime                  34526344
stoptime                   34526344
start station id           34523847
start station name         34523847
start station latitude     34526344
start station longitude    34526344
end station id             34523847
end station name           34523847
end station latitude       34526344
end station longitude      34526344
bikeid                     34526344
usertype                   34510318
birth year                 32879063
gender                     34526344
dtype: int64

In [113]:
round(rides_df.describe(),2)

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,3.452634e+07,3.452385e+07,3.452634e+07,3.452634e+07,3.452385e+07,3.452634e+07,3.452634e+07,3.452634e+07,3.287906e+07,3.452634e+07
mean,9.863028e+02,1.508695e+03,4.073675e+01,-7.398463e+01,1.500514e+03,4.073570e+01,-7.398348e+01,2.527368e+04,1.978970e+03,1.136646e+00
std,1.751677e+04,1.407503e+03,5.507632e-02,8.494753e-02,1.406084e+03,1.816979e-01,3.257954e-01,5.960195e+03,1.185736e+01,5.517447e-01
min,6.100000e+01,7.200000e+01,0.000000e+00,-7.409694e+01,7.200000e+01,0.000000e+00,-7.409694e+01,1.452900e+04,1.858000e+03,0.000000e+00
25%,3.600000e+02,3.770000e+02,4.071775e+01,-7.399683e+01,3.760000e+02,4.071757e+01,-7.399705e+01,1.944100e+04,1.970000e+03,1.000000e+00
50%,6.070000e+02,4.990000e+02,4.073705e+01,-7.398692e+01,4.980000e+02,4.073705e+01,-7.398717e+01,2.668700e+04,1.982000e+03,1.000000e+00
75%,1.060000e+03,3.177000e+03,4.075641e+01,-7.397470e+01,3.177000e+03,4.075601e+01,-7.397499e+01,3.023500e+04,1.988000e+03,1.000000e+00
max,1.951005e+07,3.721000e+03,4.550636e+01,0.000000e+00,3.721000e+03,4.550636e+01,0.000000e+00,3.583100e+04,2.002000e+03,2.000000e+00

In [114]:
rides_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694.0,Jackson Square,40.71113,-74.0789,3269.0,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993.0,1
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694.0,Jackson Square,40.71113,-74.0789,3280.0,Astor Place,40.719282,-74.071262,26241,Subscriber,1983.0,2
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694.0,Jackson Square,40.71113,-74.0789,3186.0,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988.0,1
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694.0,Jackson Square,40.71113,-74.0789,3213.0,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991.0,2
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694.0,Jackson Square,40.71113,-74.0789,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991.0,1

In [115]:
rides_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226.0,W 82 St & Central Park West,40.782750,-73.971370,3165.0,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263.0,Cooper Square & E 7 St,40.729236,-73.990868,498.0,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [116]:
def missing_data(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data
missing_data(rides_df)

                           Total   Percent
birth year               1647281  4.771084
usertype                   16026  0.046417
end station name            2497  0.007232
end station id              2497  0.007232
start station name          2497  0.007232
start station id            2497  0.007232
gender                         0  0.000000
bikeid                         0  0.000000
end station longitude          0  0.000000
end station latitude           0  0.000000
start station longitude        0  0.000000
start station latitude         0  0.000000
stoptime                       0  0.000000
starttime                      0  0.000000
tripduration                   0  0.000000

In [121]:
rides_df['starttime'] = pd.to_datetime(rides_df['starttime'])
rides_df['stoptime'] = pd.to_datetime(rides_df['stoptime'])

In [ ]:
rides_df.head(5)

In [ ]:
rides_df.to_csv(f'Resources/Citibike_rides_{year_start}-{year_end}.csv', encoding='utf-8', index=False)

In [132]:
# from urllib.request import Request, urlopen, urlretrieve
from bs4 import BeautifulSoup
def read_url(url):
#     url = url.replace(" ","%20")
#     req = requests.get(url)
    a = urlopen(url).read()
    print(a)
    soup = BeautifulSoup(a, 'html.parser')
    files = (soup.find_all('Key'))
    print(files)
    for f in files:
        file_name = f.extract().get_text()
        print(file_name)
#         url_new = url + file_name
#         url_new = url_new.replace(" ","%20")
#         if(file_name[-1]=='/' and file_name[0]!='.'):
#             read_url(url_new)
#         print(url_new)

read_url("https://s3.amazonaws.com/tripdata/")

b'<?xml version="1.0" encoding="UTF-8"?>\n<ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tripdata</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>201306-citibike-tripdata.zip</Key><LastModified>2018-04-30T13:18:55.000Z</LastModified><ETag>&quot;b520a12de58eea58a3586f89bfcfbd9d-2&quot;</ETag><Size>16785103</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201307-201402-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:25.000Z</LastModified><ETag>&quot;7b3b260b2ab2e5349320121d04bd821c-22&quot;</ETag><Size>178262576</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201307-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:27.000Z</LastModified><ETag>&quot;dd3e6fd5f91715b31eae72868086c08c-4&quot;</ETag><Size>27074629</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201308-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:27.000Z</LastModified><ETag>&quot;2f661063576734f614b9f1d6bba0ec59-4&quot;</ETag><Size>32090869</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201309-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:27.000Z</LastModified><ETag>&quot;a42f947db7bd14e423a7dbfbb11596a1-4&quot;</ETag><Size>33155593</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201310-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:28.000Z</LastModified><ETag>&quot;ba688008fa403b0f2e45cfe6371ac941-4&quot;</ETag><Size>33065440</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201311-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:28.000Z</LastModified><ETag>&quot;e1e69bfad0580b095d4ebaa8367dbe55-3&quot;</ETag><Size>21618143</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201312-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:28.000Z</LastModified><ETag>&quot;534482d30a07443756b7581312f6c118-2&quot;</ETag><Size>14314784</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201401-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:29.000Z</LastModified><ETag>&quot;9374b1f510f67f63e118b15231a2fa1f-2&quot;</ETag><Size>9697309</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201402-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:29.000Z</LastModified><ETag>&quot;bfd6bff90e0b763e3232468d14cc8281&quot;</ETag><Size>7245963</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201403-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:29.000Z</LastModified><ETag>&quot;5d0d63fa680d3d3448a3733c7480d75f-2&quot;</ETag><Size>14132272</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201404-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:29.000Z</LastModified><ETag>&quot;781f3944db1967a377d0688c5ba9846a-3&quot;</ETag><Size>21414350</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201405-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:29.000Z</LastModified><ETag>&quot;e5201dec0b4e77a604a4576d361b22fb-4&quot;</ETag><Size>27591572</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201406-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:29.000Z</LastModified><ETag>&quot;fdfdee31d451fa457b241117aabff7e5-4&quot;</ETag><Size>29902186</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201407-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:30.000Z</LastModified><ETag>&quot;bf419e04dbf6f39cd4a9d10f8723dc92-4&quot;</ETag><Size>30893375</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201408-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:30.000Z</LastModified><ETag>&quot;08b8d0f36c0f6deedaef5555115fb166-4&quot;</ETag><Size>30625219</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201409-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:30.000Z</LastModified><ETag>&quot;134e1a7180da1b3ede44a31b93c8b88b-4&quot;</ETag><Size>30254719</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201410-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:30.000Z</LastModified><ETag>&quot;86f1717b8d57bb54d70cb9effb76847d-4&quot;</ETag><Size>26154448</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201411-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:31.000Z</LastModified><ETag>&quot;57a5ca4902bc6d9aa7eb9fa05c2012ac-3&quot;</ETag><Size>16825916</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201412-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:31.000Z</LastModified><ETag>&quot;03df0ec93b039f6d3ffeb7d6ca53912b-2&quot;</ETag><Size>12724321</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201501-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:31.000Z</LastModified><ETag>&quot;1eed6b2f2edbc910e250a9f643ec6cdd&quot;</ETag><Size>7009614</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201502-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:31.000Z</LastModified><ETag>&quot;52e8a74caf221b6880078b67b4416016&quot;</ETag><Size>4821145</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201503-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:31.000Z</LastModified><ETag>&quot;15c197a8174fcba3d2d0f7805530e1bf-2&quot;</ETag><Size>8418470</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201504-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:31.000Z</LastModified><ETag>&quot;b05f9f28f9fddb54797ee9ba747d8199-3&quot;</ETag><Size>20741670</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201505-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:32.000Z</LastModified><ETag>&quot;4c26fa7a783a091630e0b868d32877d6-4&quot;</ETag><Size>30344940</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201506-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:32.000Z</LastModified><ETag>&quot;da58a79cccdd1cde88040eb3b86813bb-3&quot;</ETag><Size>22888858</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201507-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:32.000Z</LastModified><ETag>&quot;43263c09d2cfb5f04814d3584b8ddf19-5&quot;</ETag><Size>34518665</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201508-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:33.000Z</LastModified><ETag>&quot;9f7c5f303b929aabcbb7d1a6b570730d-5&quot;</ETag><Size>38041594</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201509-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:33.000Z</LastModified><ETag>&quot;ddf49d81c04409ca97ffa6f94a820ee4-6&quot;</ETag><Size>43618303</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201510-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:34.000Z</LastModified><ETag>&quot;30f3bde775cdf2e4046db407b3a6ef7e-5&quot;</ETag><Size>41817833</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201511-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:34.000Z</LastModified><ETag>&quot;0ebee9695eeffbb380bbf3317c351723-5&quot;</ETag><Size>34354395</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201512-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:35.000Z</LastModified><ETag>&quot;c730c06cf892a9a03f5ea6ac795df245-3&quot;</ETag><Size>23145783</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201601-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:35.000Z</LastModified><ETag>&quot;5b358cae0d810c608f80d01ff78c924a-3&quot;</ETag><Size>17794115</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201602-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:35.000Z</LastModified><ETag>&quot;374964e8178459647434063a1795fd13-3&quot;</ETag><Size>19673400</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201603-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:36.000Z</LastModified><ETag>&quot;13fc1b0ff6e650f9df24884254b7427d-4&quot;</ETag><Size>26448564</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201604-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:36.000Z</LastModified><ETag>&quot;9c3455cc6ba242839a5718cac8b3bfa2-5&quot;</ETag><Size>35499519</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201605-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:36.000Z</LastModified><ETag>&quot;a67d8f63a4ef956714a686bf759040bd-6&quot;</ETag><Size>42455227</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201606-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:37.000Z</LastModified><ETag>&quot;31b14fa78c2591925b7b9d0d8d643f39-7&quot;</ETag><Size>51457520</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201607-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:38.000Z</LastModified><ETag>&quot;0d3af64944f9535abf396a96d5795147-6&quot;</ETag><Size>48814309</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201608-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:39.000Z</LastModified><ETag>&quot;dd0649256a52e2e4039cd494a52fff0f-7&quot;</ETag><Size>56054239</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201609-citibike-tripdata.zip</Key><LastModified>2017-01-18T22:23:40.000Z</LastModified><ETag>&quot;4485c06095657f3ef7da0ff9302b5b19-8&quot;</ETag><Size>60817146</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201610-citibike-tripdata.zip</Key><LastModified>2017-01-23T14:25:28.000Z</LastModified><ETag>&quot;a84bade59fd26ad49ef93af9ce2cd52a&quot;</ETag><Size>52917646</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201611-citibike-tripdata.zip</Key><LastModified>2017-01-23T14:25:18.000Z</LastModified><ETag>&quot;880cfc30d95ba9525593375d38bf05a6&quot;</ETag><Size>40309396</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201612-citibike-tripdata.zip</Key><LastModified>2017-01-23T14:25:24.000Z</LastModified><ETag>&quot;03e20a299cedb824da4ec06146b6bf03&quot;</ETag><Size>27546951</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201701-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:05.000Z</LastModified><ETag>&quot;07f0bf735465bdcc98b88941695a5996-3&quot;</ETag><Size>24252143</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201702-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:14.000Z</LastModified><ETag>&quot;ffe3cd2c33d82f96991eae69aef833a9-4&quot;</ETag><Size>26345821</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201703-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:25.000Z</LastModified><ETag>&quot;212ccae72dff7fe43530c987e3d43050-3&quot;</ETag><Size>24167719</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201704-citibike-tripdata.csv.zip</Key><LastModified>2017-08-01T16:16:58.000Z</LastModified><ETag>&quot;0c5a3de95ce45cc9d50fce5a6819dde1-6&quot;</ETag><Size>45080546</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201705-citibike-tripdata.csv.zip</Key><LastModified>2017-08-01T16:17:14.000Z</LastModified><ETag>&quot;c8da677e23e7fd94fe4fdc8b79728a45-7&quot;</ETag><Size>52672403</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201706-citibike-tripdata.csv.zip</Key><LastModified>2017-08-01T16:17:25.000Z</LastModified><ETag>&quot;50b163a2a764b416dc2ffbfe2a09607d-8&quot;</ETag><Size>60394834</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201707-citibike-tripdata.csv.zip</Key><LastModified>2017-08-01T16:17:42.000Z</LastModified><ETag>&quot;74ffbf191c811d5805f0675d78375878-8&quot;</ETag><Size>60552358</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201708-citibike-tripdata.csv.zip</Key><LastModified>2017-10-03T15:52:50.000Z</LastModified><ETag>&quot;a56eaefeea62ac85ef30485731e03161-4&quot;</ETag><Size>63277904</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201709-citibike-tripdata.csv.zip</Key><LastModified>2017-10-03T15:52:58.000Z</LastModified><ETag>&quot;6e453ea73b4e068d9e50652a9ce80110-4&quot;</ETag><Size>65875226</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201710-citibike-tripdata.csv.zip</Key><LastModified>2018-01-31T21:14:57.000Z</LastModified><ETag>&quot;7d399222cc1e0fc7eed2152cef0c70be-5&quot;</ETag><Size>67606081</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201711-citibike-tripdata.csv.zip</Key><LastModified>2018-01-31T21:15:07.000Z</LastModified><ETag>&quot;4df818143c4e832c8067375cc2d5f346-3&quot;</ETag><Size>47767828</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201712-citibike-tripdata.csv.zip</Key><LastModified>2018-01-31T21:15:13.000Z</LastModified><ETag>&quot;9be1866c1dd6dd0f88e7181964cea52d-2&quot;</ETag><Size>32096921</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201801-citibike-tripdata.csv.zip</Key><LastModified>2018-09-06T18:44:00.000Z</LastModified><ETag>&quot;e82b7438b7057052afff71b3941e98b8-2&quot;</ETag><Size>23243282</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201802-citibike-tripdata.csv.zip</Key><LastModified>2018-09-06T18:44:02.000Z</LastModified><ETag>&quot;e9b3c1de5effe60539a11e31438d5760-2&quot;</ETag><Size>27445342</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201803-citibike-tripdata.csv.zip</Key><LastModified>2018-09-06T18:44:06.000Z</LastModified><ETag>&quot;58e1a32bf1c7da71d323871451464751-2&quot;</ETag><Size>31772071</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201804-citibike-tripdata.csv.zip</Key><LastModified>2018-09-06T18:44:09.000Z</LastModified><ETag>&quot;4d2f0b19de8e06a35cb836e1549f94fd-3&quot;</ETag><Size>42777120</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201805-citibike-tripdata.csv.zip</Key><LastModified>2018-09-06T18:44:14.000Z</LastModified><ETag>&quot;9fb1051c486c1ab71f8456bf06dee1e6-4&quot;</ETag><Size>60398070</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201806-citibike-tripdata.csv.zip</Key><LastModified>2018-09-06T18:44:22.000Z</LastModified><ETag>&quot;c1e29d3ceec436f6022258ec148e0868-4&quot;</ETag><Size>64676423</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201807-citibike-tripdata.csv.zip</Key><LastModified>2018-09-06T18:44:30.000Z</LastModified><ETag>&quot;e20638783252b55c824a6fd107e9e4a3-4&quot;</ETag><Size>63141848</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201808-citibike-tripdata.csv.zip</Key><LastModified>2018-09-12T18:57:00.000Z</LastModified><ETag>&quot;75f3f724354d80bbc1df56a7b7027615-6&quot;</ETag><Size>84330202</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201809-citibike-tripdata.csv.zip</Key><LastModified>2018-10-03T18:48:03.000Z</LastModified><ETag>&quot;33d763b77abaca376ec864cf72fd85b0-5&quot;</ETag><Size>80091394</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201810-citibike-tripdata.csv.zip</Key><LastModified>2018-11-07T19:43:33.000Z</LastModified><ETag>&quot;6a47664959f92a7dc5c2fd3f3eeea032-5&quot;</ETag><Size>79982702</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201811-citibike-tripdata.csv.zip</Key><LastModified>2018-12-04T16:27:25.000Z</LastModified><ETag>&quot;2ed5f0212ce2a21b2e85efcce8fc8dd6-7&quot;</ETag><Size>53731674</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201812-citibike-tripdata.csv.zip</Key><LastModified>2019-01-08T20:51:08.000Z</LastModified><ETag>&quot;39ca7a69e73e64036301db8ea801059e-6&quot;</ETag><Size>43605212</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201901-citibike-tripdata.csv.zip</Key><LastModified>2019-02-11T14:43:30.000Z</LastModified><ETag>&quot;2834834164e0f52c3841cc1b0f81ada9-5&quot;</ETag><Size>41467182</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201902-citibike-tripdata.csv.zip</Key><LastModified>2019-03-04T16:21:38.000Z</LastModified><ETag>&quot;de3b0cc72158b1eb0048445dd3344c88-5&quot;</ETag><Size>40466165</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201903-citibike-tripdata.csv.zip</Key><LastModified>2019-04-15T18:34:41.000Z</LastModified><ETag>&quot;8506f8fdb6db709de9fa5923f47ddd72-7&quot;</ETag><Size>57199131</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201904-citibike-tripdata.csv.zip</Key><LastModified>2019-05-06T19:07:32.000Z</LastModified><ETag>&quot;58de1a81266f0635cc60bfcfd6506feb-9&quot;</ETag><Size>75703003</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201905-citibike-tripdata.csv.zip</Key><LastModified>2019-06-11T19:37:54.000Z</LastModified><ETag>&quot;0552361e26e8fa6cb34780bb6b517588-10&quot;</ETag><Size>82176801</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201906-citibike-tripdata.csv.zip</Key><LastModified>2019-07-15T17:42:08.000Z</LastModified><ETag>&quot;4b9c70d4a34e075fe6f6e30b1f5c6827-6&quot;</ETag><Size>91078031</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201907-citibike-tripdata.csv.zip</Key><LastModified>2019-08-05T21:34:01.000Z</LastModified><ETag>&quot;9eaf6d25e73508815c08bd0d09661385-6&quot;</ETag><Size>93359147</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201908-citibike-tripdata.csv.zip</Key><LastModified>2019-09-18T20:33:14.000Z</LastModified><ETag>&quot;6c63755f110671e477130c86c81c4f8f-6&quot;</ETag><Size>100021943</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>201909-citibike-tripdata.csv.zip</Key><LastModified>2019-10-11T19:42:04.000Z</LastModified><ETag>&quot;6a359e103229b5fc639df4288333955e-7&quot;</ETag><Size>104185546</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201509-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:34.000Z</LastModified><ETag>&quot;857f36b80cde633c2dab5d8f7485b4f1&quot;</ETag><Size>127657</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201510-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:35.000Z</LastModified><ETag>&quot;f0f80e2462bcb30aed2c3d13203b2047&quot;</ETag><Size>366062</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201511-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:37.000Z</LastModified><ETag>&quot;35dc13c5825bec76abc928cc669329ad&quot;</ETag><Size>288054</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201512-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:38.000Z</LastModified><ETag>&quot;6ceb3e880db303d525877cc2abff5b75&quot;</ETag><Size>227741</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201601-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:38.000Z</LastModified><ETag>&quot;4d1b862592ddbc8c73af1166d24df971&quot;</ETag><Size>144314</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201602-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:38.000Z</LastModified><ETag>&quot;f348433da2c7ecb9c3728230efb9bbb7&quot;</ETag><Size>159787</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201603-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:39.000Z</LastModified><ETag>&quot;2c7aad6a59d31fa56951b80417131748&quot;</ETag><Size>259577</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201604-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T21:01:39.000Z</LastModified><ETag>&quot;f158870fad2a154690394553d20037ec&quot;</ETag><Size>311199</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>JC-201605-citibike-tripdata.csv.zip</Key><LastModified>2017-04-06T

## Citi Bike Daily Ridership and Membership Data

In [134]:
ridership_df = pd.concat([pd.read_csv(f) for f in glob.glob('Resources/CitiBikeRidershipData/*.csv')], ignore_index = True)

In [136]:
ridership_df.head(5)

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,7/1/17,36737,107126,228157,2828,372
1,7/2/17,43035,128397,228306,4314,458
2,7/3/17,48193,130240,228473,3243,316
3,7/4/17,49924,146441,228669,4929,315
4,7/5/17,60321,149487,228908,1886,267

In [140]:
ridership_df.count()

Date                                                  730
Trips over the past 24-hours (midnight to 11:59pm)    730
Miles traveled today (midnight to 11:59 pm)           730
Total Annual Members (All Time)                       730
24-Hour Passes Purchased (midnight to 11:59 pm)       730
3-Day Passes Purchased (midnight to 11:59 pm)         730
dtype: int64

In [142]:
round(ridership_df,2)

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,7/1/17,36737,107126,228157,2828,372
1,7/2/17,43035,128397,228306,4314,458
2,7/3/17,48193,130240,228473,3243,316
3,7/4/17,49924,146441,228669,4929,315
4,7/5/17,60321,149487,228908,1886,267
5,7/6/17,62147,140767,229085,1646,264
6,7/7/17,44068,103656,229241,1283,216
7,7/8/17,55015,146438,229453,4138,333
8,7/9/17,57118,159914,229680,4471,340
9,7/10/17,60908,141463,229933,1546,359
10,7/11/17,61670,141463,230159,1269,227
11,7/12/17,61786,132874,230336,1376,179
12,7/13/17,56475,126527,230514,1322,180
13,7/14/17,31851,70477,230610,570,101
14,7/15/17,56499,148067,230772,4761,378
15,7/16/17,56833,153666,230981,4497,308
16,7/17/17,62555,141323,231225,1675,289
17,7/18/17,66234,144623,231416,1724,243
18,7/19/17,63916,143277,231603,1617,267
19,7/20/17,59665,131871,231741,1439,229
20,7/21/17,60074,136330,231882,1929,304
21,7/22/17,48013,124272,232049,3634,332
22,7/23/17,46945,117035,232212,3164,249
23,7/24/17,43793,104460,232359,989,113
24,7/25/17,65339,148542,232521,1549,285
25,7/26/17,70329,168603,232674,2054,248
26,7/27/17,65773,144443,232820,1666,214
27,7/28/17,63911,151514,232984,2293,297
28,7/29/17,52955,132509,233138,4085,324
29,7/30/17,59364,165423,233360,5214,376
...,...,...,...,...,...,...
700,3/2/2018,6855,23277,256050,21,7
701,3/3/2018,28361,61107,256117,851,56
702,3/4/2018,25262,60490,256189,704,33
703,3/5/2018,36774,75190,256263,357,47
704,3/6/2018,42688,80995,256307,516,27
705,3/7/2018,8188,22312,256333,16,7
706,3/8/2018,28440,53403,256360,188,17
707,3/9/2018,34912,70068,256393,344,43
708,3/10/2018,25443,59343,256438,689,43
709,3/11/2018,27596,67622,256517,1173,46
710,3/12/2018,36339,76569,256578,351,39
711,3/13/2018,23137,46021,256623,133,14
712,3/14/2018,35377,62352,256673,269,39
713,3/15/2018,39572,72192,256724,462,66
714,3/16/2018,34921,62381,256763,383,55
715,3/17/2018,27671,62524,256823,1015,56
716,3/18/2018,25158,55182,256880,839,36
717,3/19/2018,39278,83086,256933,544,39
718,3/20/2018,35532,69573,256986,187,17
719,3/21/2018,3755,11799,257004,3,1
720,3/22/2018,27308,61715,257040,216,25
721,3/23/2018,38527,77668,257098,543,55
722,3/24/2018,34396,79562,257167,1755,88
723,3/25/2018,25562,62656,257226,710,24
724,3/26/2018,40295,88831,257315,718,87
725,3/27/2018,41354,88986,257378,524,63
726,3/28/2018,41880,80607,257447,586,64
727,3/29/2018,39288,84590,257501,544,65
728,3/30/2018,34784,78825,257584,1006,147
729,3/31/2018,41779,109399,257701,3856,151

In [ ]:
rides_df.to_csv(f'Resources/Citibike_ridership_{year_start}-{year_end-1}.csv', encoding='utf-8', index=False)